{
	"root": true,

	"extends": "@ljharb",

	"rules": {
		"id-length": 0,
		"multiline-comment-style": 0,
		"new-cap": [2, {
			"capIsNewExceptions": [
				"ArraySpeciesCreate",
				"CreateDataPropertyOrThrow",
				"Get",
				"GetIntrinsic",
				"HasProperty",
				"LengthOfArrayLike",
				"RequireObjectCoercible",
				"Set",
				"ToIntegerOrInfinity",
				"ToObject",
				"ToString",
			]
		}],
	},

	"overrides": [
		{
			"files": "test/**",
			"rules": {
				"max-lines-per-function": 0,
			},
		},
	],
}
